<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <!-- Meus Styles -->
    <link rel="stylesheet" href="{% static 'css/styledebug.css' %}">
    <title>::Desenvolvimento::</title>
</head>
<body>
    <h1>Pagina de DEBUG - Desenvolvimento</h1>
    
    <h2>Acesso aos Ajax</h2>
    <ul>
        <li><a href="/ajaxhistoria1">ajaxhistoria1</a></li>
        <li><a href="/ajaxhistoria2">ajaxhistoria2</a> </li>
        <li><a href="/ajaxdesenvolvimento">ajaxdesenvolvimento</a></li>
        <li><button id="btn-reset-leds" type="button" class="btn btn-info">RESET LEDs</button></li>
    </ul>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">LED</th>
          <th scope="col">Status</th>
          <th scope="col">Ligar</th>
          <th scope="col">Desligar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Divisoria Vermelho (37)</th>
            <td><span id="status-led-37" class="dot dotCinza"></span></td>
            <td><button id="btn-led-37-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-37-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Divisoria Verde (35)</th>
            <td><span id="status-led-35" class="dot dotCinza"></span></td>
            <td><button id="btn-led-35-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-35-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Gaveta Inferior Vermelho (21)</th>
            <td><span id="status-led-21" class="dot dotCinza"></span></td>
            <td><button id="btn-led-21-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-21-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Gaveta Inferior Verde (23)</th>
            <td><span id="status-led-23" class="dot dotCinza"></span></td>
            <td><button id="btn-led-23-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-23-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Acima Microondas Vermelho (29)</th>
            <td><span id="status-led-29" class="dot dotCinza"></span></td>
            <td><button id="btn-led-29-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-29-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Acima Microondas Verde (24)</th>
            <td><span id="status-led-24" class="dot dotCinza"></span></td>
            <td><button id="btn-led-24-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-24-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Pia Vermelho (15)</th>
            <td><span id="status-led-15" class="dot dotCinza"></span></td>
            <td><button id="btn-led-15-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-15-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Pia Verde (19)</th>
            <td><span id="status-led-19" class="dot dotCinza"></span></td>
            <td><button id="btn-led-19-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-19-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Aparador Vermelho (12)</th>
            <td><span id="status-led-12" class="dot dotCinza"></span></td>
            <td><button id="btn-led-12-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-12-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Aparador Verde (10)</th>
            <td><span id="status-led-10" class="dot dotCinza"></span></td>
            <td><button id="btn-led-10-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-10-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Baú Vermelho (18)</th>
            <td><span id="status-led-18" class="dot dotCinza"></span></td>
            <td><button id="btn-led-18-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-18-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Baú Verde (16)</th>
            <td><span id="status-led-16" class="dot dotCinza"></span></td>
            <td><button id="btn-led-16-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-16-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Geladeira Vermelho (38)</th>
            <td><span id="status-led-38" class="dot dotCinza"></span></td>
            <td><button id="btn-led-38-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-38-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Geladeira Verde (40)</th>
            <td><span id="status-led-40" class="dot dotCinza"></span></td>
            <td><button id="btn-led-40-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-40-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
      </tbody>
    </table>
</body>
</html>