<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>::Desenvolvimento::</title>
</head>
<body>
    <h1>Pagina de DEBUG - Desenvolvimento</h1>
    
    <h2>Acesso aos Ajax</h2>
    <ul>
        <li><a href="/ajaxhistoria1">ajaxhistoria1</a></li>
        <li><a href="/ajaxhistoria2">ajaxhistoria2</a> </li>
        <li><a href="/ajaxdesenvolvimento">ajaxdesenvolvimento</a></li>
    </ul>
</body>
</html>