{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <!-- Meus Styles -->
    <link rel="stylesheet" href="{% static 'css/styledebug.css' %}">
    <title>::Desenvolvimento::</title>
</head>
<body>
    <h1>Pagina de DEBUG - Desenvolvimento</h1>
    <div>
        <a href="desenvolvimento" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Desenvolvimento</a>
        <a href="teste_cartoes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teste Cartões</a>
        <a href="teste_banheiro" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teste Banheiro</a>
        <a href="teste_diversos" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teste Diversos</a>
    </div>
    <div>
        <button id="btn-set-leds" type="button" class="btn btn-info">SET LEDs</button>
        <button id="btn-reset-leds" type="button" class="btn btn-info">RESET LEDs</button>
        <button id="btn-refresh-status" type="button" class="btn btn-info">ATUALIZA STATUS</button>
    </div>
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Sensor</th>
            <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Reed da bicicleta</th>
            <td><span id="status-reed-bicicleta" class="dot dotCinza"></span></td>
        </tr>
        <tr>
            <th scope="row">Registro da pia</th>
            <td><span id="status-ldr-pia" class="dot dotCinza"></span></td>
        </tr>
        <tr>
            <th scope="row">Registro do chuveiro</th>
            <td><span id="status-ldr-chuveiro" class="dot dotCinza"></span></td>
        </tr>
        <tr>
            <th scope="row">Chave seletora verão</th>
            <td><span id="status-seletor-verao" class="dot dotCinza"></span></td>
        </tr>
        <tr>
            <th scope="row">Cartão geladeira</th>
            <td>
                <span id="status-cartao-geladeira" class="dot dotCinza"></span>
                <button id="btn-reset-cartao-geladeira" type="button" class="btn btn-info">RESET CARTÃO GELADEIRA</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Cartão microondas</th>
            <td>
                <span id="status-cartao-microondas" class="dot dotCinza"></span>
                <button id="btn-reset-cartao-microondas" type="button" class="btn btn-info">RESET CARTÃO MICROONDAS</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Cartão lavadora</th>
            <td>
                <span id="status-cartao-lavadora" class="dot dotCinza"></span>
                <button id="btn-reset-cartao-lavadora" type="button" class="btn btn-info">RESET CARTÃO LAVADORA</button>
            </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th scope="col">LED</th>
            <th scope="col">Status</th>
            <th scope="col">Ligar</th>
            <th scope="col">Desligar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Divisoria Vermelho (37)</th>
            <td><span id="status-led-37" class="dot dotCinza"></span></td>
            <td><button id="btn-led-37-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-37-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Divisoria Verde (35)</th>
            <td><span id="status-led-35" class="dot dotCinza"></span></td>
            <td><button id="btn-led-35-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-35-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Gaveta Inferior Vermelho (21)</th>
            <td><span id="status-led-21" class="dot dotCinza"></span></td>
            <td><button id="btn-led-21-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-21-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Gaveta Inferior Verde (23)</th>
            <td><span id="status-led-23" class="dot dotCinza"></span></td>
            <td><button id="btn-led-23-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-23-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Acima Microondas Vermelho (29)</th>
            <td><span id="status-led-29" class="dot dotCinza"></span></td>
            <td><button id="btn-led-29-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-29-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Acima Microondas Verde (24)</th>
            <td><span id="status-led-24" class="dot dotCinza"></span></td>
            <td><button id="btn-led-24-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-24-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Pia Vermelho (15)</th>
            <td><span id="status-led-15" class="dot dotCinza"></span></td>
            <td><button id="btn-led-15-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-15-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Pia Verde (19)</th>
            <td><span id="status-led-19" class="dot dotCinza"></span></td>
            <td><button id="btn-led-19-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-19-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Aparador Vermelho (12)</th>
            <td><span id="status-led-12" class="dot dotCinza"></span></td>
            <td><button id="btn-led-12-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-12-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Aparador Verde (10)</th>
            <td><span id="status-led-10" class="dot dotCinza"></span></td>
            <td><button id="btn-led-10-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-10-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Baú Vermelho (18)</th>
            <td><span id="status-led-18" class="dot dotCinza"></span></td>
            <td><button id="btn-led-18-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-18-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Baú Verde (16)</th>
            <td><span id="status-led-16" class="dot dotCinza"></span></td>
            <td><button id="btn-led-16-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-16-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Geladeira Vermelho (38)</th>
            <td><span id="status-led-38" class="dot dotCinza"></span></td>
            <td><button id="btn-led-38-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-38-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
        <tr>
            <th scope="row">Geladeira Verde (40)</th>
            <td><span id="status-led-40" class="dot dotCinza"></span></td>
            <td><button id="btn-led-40-hi" type="button" class="btn btn-info">ON</button></td>
            <td><button id="btn-led-40-lo" type="button" class="btn btn-info">OFF</button></td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Trava</th>
          <th scope="col">Status</th>
          <th scope="col">Enviar código</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Abrir Banheiro</th>
            <td><span id="status-trava-banheiro" class="dot dotCinza"></span></td>
            <td>
                <button id="btn-abrir-banheiro" type="button" class="btn btn-info">ABRIR</button>
                <button id="btn-fechar-banheiro" type="button" class="btn btn-info">FECHAR</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Abrir Geladeira</th>
            <td><span id="status-trava-geladeira" class="dot dotCinza"></span></td>
            <td>
                <button id="btn-abrir-geladeira" type="button" class="btn btn-info">ABRIR</button>
                <button id="btn-fechar-geladeira" type="button" class="btn btn-info">FECHAR</button>
            </td>
        </tr>
        <tr>
            <th scope="row">Abrir Gaveta Banheiro</th>
            <td><span id="status-trava-gaveta-banheiro" class="dot dotCinza"></span></td>
            <td><button id="btn-pulso-gaveta-banheiro" type="button" class="btn btn-info">ABRIR</button></td>
        </tr>
        <tr>
            <th scope="row">Abrir Gaveta Armario</th>
            <td><span id="status-trava-gaveta-armario" class="dot dotCinza"></span></td>
            <td><button id="btn-pulso-gaveta-armario" type="button" class="btn btn-info">ABRIR</button></td>
        </tr>
        <tr>
            <th scope="row">Abrir Porta Armario</th>
            <td><span id="status-trava-porta-armario" class="dot dotCinza"></span></td>
            <td><button id="btn-pulso-porta-armario" type="button" class="btn btn-info">ABRIR</button></td>
        </tr>
        <tr>
            <th scope="row">Abrir Gaveta Aparador</th>
            <td><span id="status-trava-gaveta-aparador" class="dot dotCinza"></span></td>
            <td><button id="btn-pulso-gaveta-aparador" type="button" class="btn btn-info">ABRIR</button></td>
        </tr>
        <tr>
            <th scope="row">Abrir Bau</th>
            <td><span id="status-trava-bau" class="dot dotCinza"></span></td>
            <td><button id="btn-pulso-bau" type="button" class="btn btn-info">ABRIR</button></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código SPOT</th>
          <th scope="col">Status</th>
          <th scope="col">Enviar código</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Blackout (0b1101)</th>
            <td><span id="status-spot-blackout" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-blackout" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Bike (0b0010)</th>
            <td><span id="status-spot-bike" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-bike" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Gaveta Cozinha (0b0011)</th>
            <td><span id="status-spot-gaveta-cozinha" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-gaveta-cozinha" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Geladeira (0b0100)</th>
            <td><span id="status-spot-geladeira" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-geladeira" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Banheiro (0b0101)</th>
            <td><span id="status-spot-banheiro" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-banheiro" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Lavanderia (0b0110)</th>
            <td><span id="status-spot-lavanderia" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-lavanderia" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>

        <tr>
            <th scope="row">Spot Tomadas do Armário (0b0111)</th>
            <td><span id="status-spot-armario" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-armario" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Baú (0b1000)</th>
            <td><span id="status-spot-bau" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-bau" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Spot Aparador (0b1001)</th>
            <td><span id="status-spot-aparador" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-aparador" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>
        <tr>
            <th scope="row">Acendimento Gradual (0b1100)</th>
            <td><span id="status-spot-acendimento-gradual" class="dot dotCinza"></span></td>
            <td><button id="btn-spot-acendimento-gradual" type="button" class="btn btn-info">ENVIAR</button></td>
        </tr>        
        <tr>
            <th scope="row">Níveis Bike</th>
            <td><span id="status-bateria-bike" class="dot dotCinza"></span></td>
            <td>
                <button id="btn-bateria-bike-0" type="button" class="btn btn-info">0</button>
                <button id="btn-bateria-bike-1" type="button" class="btn btn-info">1</button>
                <button id="btn-bateria-bike-2" type="button" class="btn btn-info">2</button>
                <button id="btn-bateria-bike-3" type="button" class="btn btn-info">3</button>
                <button id="btn-bateria-bike-4" type="button" class="btn btn-info">4</button>
            </td>
        </tr>
      </tbody>
    </table>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

    <!-- Meus Scripts -->
    <script src="{% static 'js/scriptdebug.js' %}"></script>
    <script src="{% static 'js/scriptdesenvolvimento.js' %}"></script>

    <script>
        function poll_status() {
          setTimeout(function () {
             getStatus();
          }, 2000);
        }

        function GetStatus() {
            jQuery.ajax({
                url: "ajaxdebugstatus",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function(resultData) {
                    updateStatus(resultData)
                },
                error : function(xhr, textStatus, errorThrown) {
                    //...
                    ;
                },
                complete: function() {
                   poll_status();
                },
                timeout: 0,
            });
        }

        $( document ).ready( function() { poll_status(); });
    </script>
</body>
</html>
