{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <!-- Meus Styles -->
    <link rel="stylesheet" href="{% static 'css/styledebug.css' %}">
    <title>::Desenvolvimento::</title>
</head>
<body>
    <h1>Pagina de DEBUG - Desenvolvimento</h1>
    <div>
        <a href="desenvolvimento" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Desenvolvimento</a>
        <a href="teste_cartoes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teste Cartões</a>
        <a href="teste_banheiro" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teste Banheiro</a>
        <a href="teste_diversos" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teste Diversos</a>
    </div>
    <div>
        <button id="btn-refresh-status" type="button" class="btn btn-info">ATUALIZA STATUS</button>
    </div>
    <table class="table">
      <thead>
        <tr>
            <th scope="col">Sensor</th>
            <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Reed da bicicleta (alinhar ímã com o sensor e ver incremento)</th>
            <td>
                <span id="status-reed-bicicleta" class="dot dotCinza"></span>&nbsp
                <span id="count-reed-bicicleta"></span>&nbsp;pulsos
            </td>
        </tr>
        <tr>
            <th scope="row">Conjunto de tomadas do armário</th>
            <td><span id="status-tomadas-armario" class="dot dotCinza"></span></td>
        </tr>
        <tr>
            <th scope="row">Mesa de passar roupa</th>
            <td>
                <span id="status-mesa-passar" class="dot dotCinza"></span>&nbsp
                <span id="count-mesa-passar"></span>&nbsp;pulsos
            </td>
        </tr>
        <tr>
            <th scope="row">Quiz da geladeira</th>
            <td>
                <span id="status-quiz-geladeira" class="dot dotCinza"></span>&nbsp
                <span id="count-quiz-geladeira"></span>&nbsp;pulsos
            </td>
        </tr>
        <tr>
            <th scope="row">Botão da gaveta do aparador</th>
            <td>
                <span id="status-botao-aparador" class="dot dotCinza"></span>
            </td>
        </tr>
        <tr>
            <th scope="row">Caminho da Energia</th>
            <td>
                <span id="status-caminho-energia" class="dot dotCinza"></span>&nbsp
                <span id="count-caminho-energia"></span>&nbsp;pulsos
            </td>
        </tr>
      </tbody>
    </table>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

    <!-- Meus Scripts -->
    <script src="{% static 'js/scriptdebug.js' %}"></script>
    <script src="{% static 'js/scriptdiversos.js' %}"></script>

    <script>
        function poll_status() {
          setTimeout(function () {
             getStatus();
          }, 100);
        }

        function getStatus() {
            jQuery.ajax({
                url: "ajaxdebugstatus",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function(resultData) {
                    updateStatus(resultData)
                },
                error : function(xhr, textStatus, errorThrown) {
                    //...
                    ;
                },
                complete: function() {
                   poll_status();
                },
                timeout: 0,
            });
        }

        $( document ).ready( function() { poll_status(); });
    </script>
</body>
</html>
